@reference "tailwindcss";

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background 0.2s, border 0.2s;
  outline: none;
  @apply rounded-lg;
}

.primary {
  color: #222;
  background: #f5f5f5;
}

.secondary {

}

.button:hover,
.button:focus {
  background: #e0e0e0;
  border-color: #888;
}