@reference "tailwindcss";

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition:
    background 0.2s,
    border 0.2s;
  outline: none;
  @apply rounded-lg;
}

.primary {
  @apply bg-stone-100 dark:bg-stone-700 border border-stone-300 dark:border-stone-500 hover:bg-stone-200 dark:hover:bg-stone-500;
}

.secondary {
  @apply px-2 py-1 rounded-lg bg-amber-100 dark:bg-gray-600 hover:bg-amber-200 dark:hover:bg-gray-400;
}

.delete {
  @apply bg-red-400 dark:bg-red-700 hover:bg-red-600 dark:hover:bg-red-500 px-2 text-white;
}

.itemTodo {
  @apply rounded-xl px-1 bg-sky-200 dark:bg-sky-700 hover:bg-sky-300 dark:hover:bg-sky-400;
}

.itemDone {
  @apply rounded-xl px-1 bg-green-200 dark:bg-green-700 hover:bg-green-300 dark:hover:bg-green-500;
}
