@reference "tailwindcss";

.linkButton {
  @apply rounded-xl dark:border dark:border-stone-600 bg-stone-100 dark:bg-stone-700 dark:hover:bg-stone-500 hover:bg-stone-200 text-sm py-1 px-2 inline-flex justify-center items-center;
  transition: background-color 0.2s;
}

.primary {
}

.secondary {
}

.add {
  @apply bg-emerald-600 hover:bg-emerald-700 text-white rounded-lg;
}

.delete-primary {
}

.delete-secondary {
}
